:root{
    --bg-color: #000000FF;
    --hover-color: #FFFFFFFF;
    --label-color: #6097FEFF;
}

/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/forum-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Forum', sans-serif;
    font-size: 14px;
    line-height: 22px;
    background-color: black;
}